.car_thumb{
  position: relative;
  /* outline: 1px solid red; */
  border-radius: 14px;
    overflow: hidden;
}
.car_thumb::before {
  position: absolute;
  display: inline-block;
  content: '';
  top: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg,
        rgba(18, 20, 23, 0.5) 0%,
        rgba(18, 20, 23, 0) 100%);
}

.img{
  height: 268px;
  object-fit: cover;
}
.svg{
  position: absolute;
  padding: 0;
  z-index: 99;
  color: transparent;
  top: 14px;
  right: 14px;
  transition: color var(--transit);

}
.svg:hover, .svg:focus{
  outline: none;
  border: none;
}
.car_myp{
  color: #3470FF;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  height: 24px;
  /* text-overflow: ellipsis; */
  overflow: hidden;
}

.car_myp span  {
  color: #121417;
}

.price{
  margin-left: auto;
}

.support_text{
  color: #121417;
  opacity: 50%;
  font-size: 12px;
  line-height: 18px;
  height: 40px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.support_text span{
  border-right: 1px solid #12141732;
  margin-left: 6px;
  margin-right: 6px;
}

.button{
  width: 100%;
  background: #3470FF;
  padding: 10px 0;
  border-radius: 12px;
  color: #FFFFFF;
  transform: var(--transit);
}
.button:hover , .button:focus{
  background: #0B44CD;
}